@import "tailwindcss";

.theme-primary {
  background-color: skyblue;
  color: black;

  @media (prefers-color-scheme: dark) {
    color: white;
  }

  &:disabled {
    background-color: grey;
  }

  &:enabled:hover {
    background-color: blue;
  }

  &:enabled:active {
    background-color: darkblue;
  }
}
